*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

#div_btn{
    justify-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#b1{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #764ba2;
}
#b2{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #667eea;
}
#h2{
    margin-top: 30px;
    text-align: center;
    font-size: smaller;
    font-family:cursive;
}

#d1{
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.218);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}